<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora</title>
</head>
<body>
    <h1>Calculadora</h1>
    <p>
        o resultado da operação 
        <storng>Operação </storng> é 
           <strong>Valor</strong>!

    </p>
    
</body>
</html>